<div class="modal-header">
  <h4 translate>Update credentials for <strong>{{data.oldName}}</strong></h4>
</div>
<div class="modal-body">
  <div class="alert alert-danger" ng:show="error">
    <i class="fa fa-warning"></i> <span translate>Update failed</span>
    <div>{{error.data.message}}</div>
  </div>

  <div class="form-group">
    <div class="row" style="margin: 10px 0">
      <label class="form-label" for="usernameNew">New username: </label>
      <input type="text" class="form-control" id="usernamenew" ng-model="data.newName" autofocus />
    </div>

    <div class="row" style="margin: 10px 0">
      <label class="form-label" for="password">Password: </label>
      <input type="password" class="form-control" id="password" ng-model="data.password" placeholder="blank for no change" />
    </div>
  </div>

  <progress-spinner ng:show="isUpdating"></progress-spinner>
</div>
<div class="modal-footer" ng:show="!isUpdating">
  <button class="btn btn-warning" ng:click="cancel()" translate>Cancel</button>
  <button class="btn btn-primary" ng:click="save()" ng:disabled="!data.newName || data.oldName === data.newName && !data.password" translate>
    Apply changes
  </button>
</div>
