<progress-spinner ng:show="credentials === undefined || entMatchInProgress"></progress-spinner>
<div ng:show="!!credentials && credentials.length === 0 && !entMatchInProgress">
  <br />
  <div class="alert alert-info">
    <i class="fa fa-info-circle"></i>
    <span translate="">There are no credentials to manage yet.</span>
  </div>
</div>

<div style="margin: 20px 0 10px 0" ng:show="credentials && !entMatchInProgress">
  <div style="padding: 5px 0">
    <button class="btn btn-primary" ng:click="validate()"><i class="fa fa-user-check"></i> &nbsp; Sync LDAP and Threema users</button>
  </div>

  <div ng:show="countLdapUsersNotFoundInThreema" style="padding: 5px 0">
    <a class="btn btn-warning" ng:href="./threema_connector/missing">
      Add threema credentials for missing LDAP users ({{countLdapUsersNotFoundInThreema}})
    </a>
  </div>

  <div ng:show="countSuggestionsForNameChange" style="padding: 5px 0">
    <a class="btn btn-warning" ng:href="./threema_connector/suggestions"> Apply renaming suggestions ({{countSuggestionsForNameChange}}) </a>
  </div>

  <div ng:show="countThreemaCredsNotFoundInLdap" style="padding: 5px 0">
    <a class="btn btn-danger" ng:href="./threema_connector/unmatched">
      Delete threema credentials for unmatched LDAP users ({{countThreemaCredsNotFoundInLdap}})
    </a>
  </div>
</div>

<div ng:show="credentials.length > 0 && !entMatchInProgress" style="padding-top: 20px">
  <div class="input-group">
    <input ng:model="filter" type="search" autofocus class="form-control" placeholder="Filter" typeahead-min-length="1" />
    <div uib-dropdown class="input-group-btn">
      <button class="btn btn-default" uib-dropdown-toggle>
        <i class="fa fa-sort-amount-asc"></i> {{sort.name}}
        <span class="caret"></span>
      </button>
      <ul uib-dropdown-menu class="dropdown-menu-right" style="width: 150px">
        <li ng:repeat="sort in sorts">
          <a ng:click="sortClicked(sort)"> <i class="fa fa-sort-amount-asc"></i> {{sort.name}} </a>
        </li>
      </ul>
    </div>
    <div uib-dropdown class="input-group-btn" auto-close="outsideClick">
      <button class="btn btn-default" uib-dropdown-toggle>
        <i class="fa fa-list-ol"></i> {{'Rows'|translate}}
        <span class="caret"></span>
      </button>
      <ul uib-dropdown-menu class="dropdown-menu-right" style="width: 200px">
        <li ng:repeat="size in [10, 50, 100, 500, 1000]">
          <a ng:click="paging.pageSize = size"><i class="fa fa-list-ol"></i> {{size}} <span translate>credentials</span></a>
        </li>
        <li>
          <div class="input-group" style="display: table">
            <div class="input-group-addon">Other:</div>
            <input ng:model="paging.pageSize" type="number" autofocus class="form-control" />
          </div>
        </li>
      </ul>
    </div>
  </div>
  <table class="table" ng:class="{'lmn-blurred': blurred}" style="width: 100%">
    <tr>
      <th width="35" class="text-center"><span translate> Class </span></th>
      <th width="120">Credentials name</th>
      <th width="120">ENT match</th>
      <th width="120">Active</th>
      <th width="30"></th>
    </tr>
    <tr ng:repeat="cred in credentials|filter:filter|orderBy:sort.fx:reverse|page:paging.page:paging.pageSize">
      <td width="30" style="vertical-align: middle" class="text-center" ng:show="cred.cls !== 'teachers'"><strong>{{cred.cls}}</strong></td>
      <td width="30" style="vertical-align: middle" class="text-center text-bold text-success" ng:show="cred.cls === 'teachers'">
        <i class="fa fa-user-tie"></i>
      </td>
      <td width="120" style="vertical-align: middle" class="text-left">
        <i>{{cred.username}}</i>
      </td>
      <td width="120" style="vertical-align: middle" class="text-left">
        <span style="padding: 5px" ng:show="!cred.status">&dash;</span>
        <span style="padding: 5px" ng:show="cred.status === 'OK'" class="text-success">OK</span>
        <span style="padding: 5px" ng:show="cred.status === 'UNMATCHED'" class="text-danger">Not found in ENT</span>
        <button
          style="padding: 5px; border-radius: 5px; margin: 2px 0"
          ng:show="cred.status === 'SUGGESTION'"
          class="btn btn-info"
          ng:click="openCredentialsChangeModal(cred.id, cred.username, cred.nameChange)"
        >
          <i class="fa fa-lightbulb"></i>&nbsp; {{cred.nameChange}}
        </button>
      </td>
      <td width="10" style="vertical-align: middle" class="text-left">
        <span ng:show="cred.usage > 0" class="badge" style="background-color: green"
          ><strong><i class="fa fa-check"></i></strong
        ></span>
        <span ng:show="!cred.usage || cred.usage <= 0">&dash;</span>
      </td>
      <td width="30" class="text-right" style="vertical-align: middle">
        <span uib-dropdown class="dropup">
          <button class="btn btn-default" uib-dropdown-toggle>
            <i class="fa fa-pen"></i>
            <span class="caret"></span>
          </button>
          <ul uib-dropdown-menu class="dropdown-menu-right" style="margin-bottom: -30px; margin-right: 40px; z-index: 4000">
            <li>
              <a ng:click="openCredentialsChangeModal(cred.id, cred.username, cred.username)" translate>Edit</a>
            </li>
            <li>
              <a ng:click="openCredentialsDeleteModal(cred.id, cred.username)" translate>Delete</a>
            </li>
          </ul>
        </span>
      </td>
    </tr>
  </table>

  <br />
  <ul
    uib-pagination
    ng:show="credentials.length > paging.pageSize"
    ng-model="paging.page"
    total-items="credentials.length"
    items-per-page="paging.pageSize"
    max-size="10"
    rotate="true"
    boundary-links="true"
  ></ul>
</div>
