<div class="modal-header">
  <h4 translate>Confirm deletion</h4>
</div>
<div class="modal-body">
  <p>Really delete credentials for <strong>{{multipleUsers ? "ALL selected users" : username}}</strong>?</p>
  <div ng-show="error">Unable to delete user: {{error.data.message}}</div>
  <progress-spinner ng:show="isDeleting"></progress-spinner>
</div>
<div class="modal-footer" ng:show="!isDeleting">
  <button class="btn btn-warning" ng:click="cancel()" translate>Cancel</button>
  <button class="btn btn-danger" ng:click="delete()" translate>Yes, delete</button>
</div>
