<div class="modal-header">
  <h4 translate>Update credentials</h4>
</div>
<div class="modal-body">
  <div class="alert alert-danger" ng:show="error">
    <i class="fa fa-warning"></i> <span translate>Update failed</span>
    <div>{{error}}</div>
  </div>

  <div>
    <div ng:show="data.oldName">Username old: {{data.oldName}}</div>
    <div>Username new: {{data.newName}}</div>
  </div>

  <progress-spinner ng:show="isUpdating"></progress-spinner>
</div>
<div class="modal-footer" ng:show="!isUpdating">
  <button class="btn btn-primary btn-flat" ng:click="save()" translate>Apply changes</button>
</div>
