<div style="padding-top: 20px">
  <div ng-show="!selectedClass">
    <div class="alert alert-info">Select a class to manage passwords or group membership.</div>
    <div>
      <table>
        <tr ng-repeat="group in [5, 6, 7, 8, 9, 10, 11, 12]">
          <td ng-repeat="cls in classesForLevel[group]">
            <button
              style="margin: 5px; border-radius: 5px; width: 100px"
              class="btn btn-lg"
              ng-class="{'btn-success': existingGroupNames.indexOf(cls) > -1}"
              ng-click="selectClass(cls)"
            >
              {{cls}}
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div ng-show="selectedClass">
    <button class="btn btn-default" ng-click="selectClass()"><i class="fa fa-backward"></i>&nbsp;&nbsp;Back to overview</button>
    <progress-spinner ng-show="students === undefined"></progress-spinner>

    <div ng-show="students !== undefined" style="margin: 10px 0">
      <div class="alert alert-info">Students for class <strong>{{selectedClass}}</strong></div>
      <div ng-show="students.length > 0">
        <table>
          <tr>
            <th style="padding: 15px">Username</th>
            <th style="padding: 15px; width: 150px">Password</th>
            <th style="padding: 15px" class="text-center">Active</th>
            <th style="padding: 15px" class="text-center">Nickname</th>
            <th style="padding: 15px" class="text-center">UserID</th>
            <th style="padding: 15px" class="text-center">Group member</th>
          </tr>
          <tr ng-repeat="student in students">
            <td style="padding: 15px">{{student.username}}</td>
            <td style="padding: 15px">
              <span ng-show="student.showPassword">{{student.password}}</span>
              <span ng-show="!student.showPassword">••••••••</span>
              &nbsp;&nbsp;&nbsp;
              <div ng-click="toggleVisibility(student.id)" style="float: right; cursor: pointer">
                <i class="fa fa-eye" ng-show="student.showPassword"></i>
                <i class="fa fa-eye-slash" ng-show="!student.showPassword"></i>
              </div>
            </td>
            <td style="padding: 15px; text-align: center">
              <span ng:show="student.usage > 0" class="badge" style="background-color: green"
                ><strong><i class="fa fa-check"></i></strong
              ></span>
              <span ng:show="!student.usage || student.usage <= 0">&dash;</span>
            </td>
            <td style="padding: 15px; text-align: center">{{student.nickname || (student.usage > 0 ? "..." : "-")}}</td>
            <td style="padding: 15px; text-align: center">{{student.userid || (student.usage ? "..." : "-")}}</td>
            <td style="padding: 15px; text-align: center">
              <span
                ng:show="threemaGroupMembers[selectedClass] && threemaGroupMembers[selectedClass].indexOf(student.userid) > -1"
                class="badge"
                style="background-color: green"
                ><strong><i class="fa fa-check"></i></strong
              ></span>
              <span ng:show="!threemaGroupMembers[selectedClass] || threemaGroupMembers[selectedClass].indexOf(student.userid) === -1">&dash;</span>
            </td>
          </tr>
        </table>
      </div>

      <div ng-show="!groupExists" style="padding-top: 15px">
        <div class="alert alert-danger">
          <div>There is no threema group for this class yet.</div>
          <br />
          <div ng-show="activeMembers.length > 0" class="btn btn-info" ng-click="createGroupWithActiveMembers()">
            Create group "{{selectedClass}}" with all active users ({{activeMembers.length}}).
          </div>
          <div ng-show="activeMembers.length === 0">
            To create the group "{{selectedClass}}" there must be at least one active user, but there are none yet.
          </div>
        </div>
      </div>

      <div ng-show="groupExists && activeMembersMissingInGroup.length > 0" style="padding-top: 15px">
        <div class="btn btn-info" ng-click="addAllMissingActiveMembersToGroup()">
          Add all missing active users to group ({{activeMembersMissingInGroup.length}})
        </div>
      </div>

      <button ng-show="students.length > 0" style="margin-top: 20px" class="btn btn-primary" ng-click="downloadPasswordList()">
        Download passwords as .csv file
      </button>

      <div ng-show="students.length === 0">There seem to be no students in this class.</div>
    </div>
  </div>
</div>
