<uib:tabset active="activetab" style="margin: 20px 0">
  <uib:tab heading="{{'Credentials'|translate}}">
    <div ng-if="activetab === 0">
      <credentials />
    </div>
  </uib:tab>
  <uib:tab heading="{{'Users'|translate}}">
    <div ng-if="activetab === 1">
      <users />
    </div>
  </uib:tab>
  <uib:tab heading="{{'Contacts'|translate}}">
    <div ng-if="activetab === 2">
      <contacts />
    </div>
  </uib:tab>
  <uib:tab heading="{{'Groups'|translate}}">
    <div ng-if="activetab === 3">
      <groups />
    </div>
  </uib:tab>
</uib:tabset>
