<uib:tabset active="activetab" style="margin: 20px 0">
  <uib:tab heading="{{'Students'|translate}}">
    <div ng-if="activetab === 0">
      <students-list credentials="studentsCredentials" on-credentials-change="onCredsChange" />
    </div>
  </uib:tab>
  <uib:tab heading="{{'Teachers'|translate}}">
    <div ng-if="activetab === 1">
      <teachers-list credentials="teachersCredentials" on-credentials-change="onCredsChange" />
    </div>
  </uib:tab>
  <uib:tab heading="{{'Groups'|translate}}">
    <div ng-if="activetab === 2">
      <groups />
    </div>
  </uib:tab>
  <uib:tab heading="{{'Normalization'|translate}}">
    <div ng-if="activetab === 3">Coming soon ...</div>
  </uib:tab>
</uib:tabset>
