<div style="padding: 20px">
  <h1>Add missing threema credentials</h1>

  <progress-spinner ng-show="results === undefined"></progress-spinner>

  <div ng-if="results">
    <i class="fa fa-backward"></i>&nbsp;&nbsp;<a ng:href="/view/threema_connector/">Back to threema overview</a>

    <div ng-if="!results || results.length === 0">
      <div class="alert alert-success" style="padding: 15px; margin: 10px 0">No users from LDAP seem to be missing in Threema.</div>
    </div>

    <div class="progress" style="margin-top: 20px" ng-if="total > 0">
      <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" ng-style="{'width': (100*done/total) + '%'}">
        <span>{{done}} / {{total}}</span>
      </div>
    </div>

    <div ng-if="results && results.length > 0">
      <div ng-if="!total" class="alert alert-info" style="padding: 15px; margin: 20px 0">
        LDAP users without matching threema credentials have been found.
      </div>
      <div ng-repeat="u in results" class="row" style="padding: 2px 0; display: flex; align-items: center">
        <div class="col-xs-1">
          <input type="checkbox" ng-checked="selectedNames.indexOf(u) > -1" ng-click="toggle(u)">
        </div>
        <div class="col-xs-6 col-sm-4">{{u}}</div>
        <div class="col-xs-6 col-sm-4">
          <button class="btn btn-primary" ng-click="add(u, true)" ng-disabled="isUpdating">
            <i class="fa fa-user"></i> &nbsp; Add user <strong>{{THREEMA_PREFIX}}_{{u}}</strong> with random PW
          </button>
        </div>
      </div>
      <br />
      <div>
        <button class="btn btn-info" ng-click="selectAll()">Select All</button> 
        <button class="btn btn-info" ng-click="unselectAll()">Unselect All</button>
      </div>
      <br />
      <button class="btn btn-primary" ng-click="addSelectedCredentials()" ng-disabled="isUpdating || selectedNames.length === 0" ng-show="results && results.length > 1">
        <i class="fa fa-layer-group"></i> &nbsp; Add credentials for ALL ({{selectedNames.length}})
      </button>
    </div>
  </div>
</div>
