<div style="padding: 20px">
  <h1>Add missing threema credentials</h1>

  <progress-spinner ng-show="results === undefined"></progress-spinner>

  <div ng-if="results">
    <i class="fa fa-backward"></i>&nbsp;&nbsp;<a ng:href="/view/threema_connector/">Back to threema overview</a>

    <div ng-if="!results.unused || results.unused.length === 0">
      <div class="bg-success defaultBlock" style="padding: 5px; margin: 10px 0">No users from ENT seem to be missing in Threema.</div>
    </div>

    <div ng-if="results.unused && results.unused.length > 0">
      <div class="bg-info defaultBlock" style="padding: 5px; margin: 20px 0">Database users without matching threema credentials:</div>
      <div ng-repeat="u in results.unused" class="row" style="padding: 2px 0; display: flex; align-items: center">
        <div class="col-xs-6 col-sm-4">{{u}}</div>
        <div class="col-xs-6 col-sm-4">
          <button class="btn btn-primary" ng-click="add(u, true)" ng-disabled="isUpdating">
            <i class="fa fa-user"></i> &nbsp; Add credentials with random PW
          </button>
        </div>
      </div>
      <br />
      <button class="btn btn-primary" ng-click="addAll()" ng-disabled="isUpdating">
        <i class="fa fa-layer-group"></i> &nbsp; Add credentials for ALL ({{results.unused.length}})
      </button>
    </div>
  </div>
</div>
