<div style="padding-top: 20px">
  <div ng-show="!selectedClass">
    <div class="alert alert-info">Select a class to retrieve a printable password list.</div>
    <div>
      <table>
        <tr ng-repeat="group in [5, 6, 7, 8, 9, 10, 11, 12]">
          <td ng-repeat="cls in classesForLevel[group]">
            <button style="margin: 5px; border-radius: 5px; width: 100px" class="btn btn-info btn-lg" ng-click="select(cls)">{{cls}}</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div ng-show="selectedClass">
    <button class="btn btn-default" ng-click="select()"><i class="fa fa-backward"></i>&nbsp;&nbsp;Back to overview</button>
    <progress-spinner ng-show="students === undefined"></progress-spinner>
    <div ng-show="students !== undefined" style="margin: 10px 0">
      <div class="alert alert-info">Students for class <strong>{{selectedClass}}</strong></div>
      <div ng-show="students.length > 0">
        <table>
          <tr>
            <th style="padding: 15px">Username</th>
            <th style="padding: 15px">Password</th>
            <th style="padding: 15px">Threema ID</th>
          </tr>
          <tr ng-repeat="student in students">
            <td style="padding: 15px">{{student.username}}</td>
            <td style="padding: 15px">
              <span ng-show="student.showPassword">{{student.password}}</span
              ><button class="btn btn-default" ng-click="showPassword(student.id)" ng-show="!student.showPassword">Show</button>
            </td>
            <td style="padding: 15px">{{student.id}}</td>
          </tr>
        </table>
        <button style="margin-top: 20px" class="btn btn-primary" ng-click="downloadPasswordList()">Download passwords as text file</button>
      </div>
      <div ng-show="students.length === 0">There seem to be no students in this class.</div>
    </div>
  </div>
</div>
