<div style="padding: 20px">
  <h1>Delete unmatched threema credentials</h1>

  <progress-spinner ng-show="unmatchedCredentials === undefined"></progress-spinner>

  <div ng-if="unmatchedCredentials">
    <i class="fa fa-backward"></i>&nbsp;&nbsp;<a ng:href="/view/threema_connector/">Back to threema overview</a>

    <div ng-if="unmatchedCredentials.length === 0">
      <div class="alert alert-success" style="padding: 15px; margin: 10px 0">No unmatched Threema users found.</div>
    </div>

    <div class="progress" style="margin-top: 20px" ng-if="total > 0">
      <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" ng-style="{'width': (100*done/total) + '%'}">
        <span>{{done}} / {{total}}</span>
      </div>
    </div>

    <div ng-if="unmatchedCredentials.length > 0">
      <div ng-if="!total" class="bg-warning defaultBlock" style="padding: 15px; margin: 10px 0">
        Students were detected in Threema that do not appear in ENT.
      </div>
      <div ng-repeat="u in unmatchedCredentials" class="row" style="padding: 2px 0; display: flex; align-items: center">
        <div class="col-xs-1">
          <input type="checkbox" ng-checked="selectedIds.indexOf(u.id) > -1" ng-click="toggle(u.id)">
        </div>
        <div class="col-xs-6 col-sm-4">{{u.username}}</div>
        <div class="col-xs-6 col-sm-4">
          <button class="btn btn-danger" ng-click="delete(u.id, u.username, true)" ng-disabled="isUpdating">
            <i class="fa fa-trash"></i> &nbsp; Delete
          </button>
        </div>
      </div>
      <br />
      <div>
        <button class="btn btn-info" ng-click="selectAll()">Select All</button> 
        <button class="btn btn-info" ng-click="unselectAll()">Unselect All</button>
      </div>
      <br />
      <button class="btn btn-danger" ng-disabled="isUpdating || selectedIds.length === 0" ng-click="openCredentialsDeleteModal()" ng-show="unmatchedCredentials.length > 1">
        <i class="fa fa-trash"></i> &nbsp; Delete selected students ({{selectedIds.length}})
      </button>
    </div>
  </div>
</div>
